mixin sectionFeatures(props = {})
  +component("div", "sectionFeatures", props)
    -
        var data = props.data || [];
        var heading = props.heading || {};
    .container
        +heading(heading)
        div.sectionFeatures__content
            .row
                each item in data
                    div(class="col-md-4 col-sm-6")
                        div(style="height: 100%; padding-bottom: 30px")
                            +textBox3({
                                title: item.title,
                                text: item.text,
                                icon: item.icon,
                                iconColor: item.iconColor
                            })
                