.sectionHero {
    background-size: 100% 100%;
    padding: 50px 0;
    background-image: url(../../assets/images/hero/bg.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 160px;
}

.sectionHero__content {
    margin-top: 10px;
}

.sectionHero__subtitle {
    color: #4F4B65;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.sectionHero__text {
    display: block;
    margin-bottom: 40px;
}

.sectionHero__image {
    position: relative;
    display: block;
    margin-left: -60px;
    @media (max-width: 991px) {
        // display: none;
        margin-left: 0px;
        margin-top: 40px;
    }
}

.sectionHero__imagePath {
    position: absolute;
    right: calc(100% - 115px);
    top: calc(100% - 145px);
}

.sectionHero__btn1 {
    margin-bottom: 10px;
    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.dn-m {
    @media (max-width: 1140px) {
        display: none;
    }
}