.headingHighLight__title {
    font-size: 40px;
    @include pfs('font-size', (320px: 30px, 768px: 40px, 1200px: 40px));
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
    span {
        z-index: 1;
        position: relative;
        display: inline-block;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 20px;
            background-color: #A5F7E3;
            z-index: -1;
        }
    }
    &.headingHighLight__title--large {
        font-size: 60px;
        line-height: 1.2;
        @include pfs('font-size', (320px: 30px, 768px: 50px, 1200px: 60px));
        span::after {
            height: 30px;
        }
    }
}