.wil-shadow--1 {
    box-shadow: 0 20px 30px rgba($color: #2E2A41, $alpha: .13);
}

.wil-shadow--2 {
    box-shadow: 0 5px 10px 0 rgba($color: #FB7979, $alpha: .2);
}

.wil-shadow--3 {
    box-shadow: 0 5px 10px 0 rgba($color: #D278F3, $alpha: .2);
}

.wil-shadow--4 {
    box-shadow: 0 5px 10px 0 rgba($color: #38BBDD, $alpha: .2);
}