/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 1.74;
    font-size: 15px;
    font-weight: 400;
    font-family: $font-primary;
    color: $color-primary-text;
    letter-spacing: 0.01em;
}

ul li {
    list-style: none;
    font-size: $font-size-menu;
    font-weight: $font-normal;
}

a {
    color: inherit;
    transition: all 0.3s ease;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: none !important;
        color: $color-primary;
    }
}

a,
input,
textarea,
select {
    outline: none;
}

$heading-fontsize: ('h1': 40px, 'h2': 36px, 'h3': 32px, 'h4': 26px, 'h5': 20px, 'h6': 18px);
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-semibold;
    line-height: 1.2;
    color: $color-dark-1;
    font-family: $font-secondary;
    letter-spacing: 0.02em;
}

@each $val,
$key in $heading-fontsize {
    #{$val} {
        font-size: $key;
    }
}

h3,
h1,
h2,
h3 {
    margin-bottom: 14px;
}

h4,
h5,
h6 {
    // margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
}

p {
    font-family: $font-secondary;
    color: $color-gray-1;
    // font-style: $font-style-i;
    font-size: $font-size-base;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

abbr {
    color: #67dee8;
    border-width: 2px
}

mark,
.mark {
    background-color: $color-primary;
    color: $color-light;
}