mixin sectionAppSlider(props = {})
  +component("div", "sectionAppSlider", props)
    +heading
    .sectionAppSlider__content
        
        .sectionAppSlider__slick
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle2.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle2.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle2.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle.png", alt="") 
            .sectionAppSlider__slickItem
                .sectionAppSlider__imgApp
                    img(src="../../assets/images/mb.png", alt="")
                .sectionAppSlider__img
                    img(src="../../assets/images/Rectangle2.png", alt="") 
            
                
            


