mixin sectionSimulation(props = {})
  +component("div", "sectionSimulation", props)
    .sectionSimulation__content
        .container
            .row
                div(class="col-md-5 col-sm-12")
                    .sectionSimulation__left
                        +headingHighLight({
                            before: props.titleBefore || 'Test',
                            highlight: props.titleHighlight || ' HSBlog',
                            after: props.titleAfter || ' Application On Simulation',
                        })
                        span.sectionSimulation__text!= `You can quickly test HSBlog App by using Simulation beside. Note that when testing with the Simulator, the experience will not smooth like on Real Phone. <br/><br/> You can download the App to your device by clicking on the buttons below`
                        a(href="https://apps.apple.com/us/app/hsblog/id1503855433?ls=1", target="_blank", rel="noopener noreferrer")
                            img(src="../../assets/images/btn-ios.png", alt="")
                        a(href="https://play.google.com/store/apps/details?id=com.wiloke.hsblog", target="_blank", rel="noopener noreferrer")
                            img(src="../../assets/images/btn-android.png", alt="")
                div(class="col-md-7 col-sm-12")
                    .sectionSimulation__right
                        <div class="db-ns" style="display: flex; text-align: center; align-items:center; justify-content: center; padding: 20px; max-width: auto; margin: 0 auto" >
                            div.sectionSimulation__phone1
                                <iframe src="https://appetize.io/embed/8bnmakzrptf1hv9dq7v7bnteem?autoplay=true&amp;debug=true&amp;device=iphone6s&amp;deviceColor=white&amp;embed=true&amp;orientation=portrait&amp;screenOnly=false&amp;xDocMsg=true&amp;xdocMsg=true&amp;params=%7B%22EXKernelLaunchUrlDefaultsKey%22:%22exp:%2F%2Fexpo.io%2F@nguyen_dttn%2Fhsblog%2BSJ9lHlDmN%22,%22EXKernelDisableNuxDefaultsKey%22:true%7D&amp;scale=70&amp;osVersion=11.4" frameborder="0" width="416" height="870"></iframe>
                            div.sectionSimulation__phone2
                                <iframe src="https://appetize.io/embed/xc1w6f1krd589zhp22a0mgftyw?autoplay=false&amp;debug=true&amp;device=nexus5&amp;deviceColor=black&amp;embed=true&amp;launchUrl=exp%3A%2F%2Fexpo.io%2F%40nguyen_dttn%2Fhsblog%2BBk4rdmPmV&amp;orientation=portrait&amp;screenOnly=false&amp;xDocMsg=true&amp;xdocMsg=true&amp;params=%7B%22EXKernelLaunchUrlDefaultsKey%22%3A%22exp%3A%2F%2Fexpo.io%2F%40nguyen_dttn%2Fhsblog%2BBk4rdmPmV%22%2C%22EXKernelDisableNuxDefaultsKey%22%3Atrue%7D&amp;scale=70" frameborder="0" width="400" height="795"></iframe>
                        </div>

                     

