.heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.heading__title {
    font-size: 30px;
    margin-bottom: 22px;
    color: #2E2A41;
    font-weight: bold;
    span {
        color: $color-primary;
    }
}

.heading__text {
    display: block;
    color: #7E7FA0;
    font-size: 16px;
}