.textBox2 {
    background-color: #4934A3;
    border-radius: 30px;
    color: #D1D0D6;
    padding: 30px;
    a {
        color: #F76464;
        text-decoration: underline;
    }
}

.textBox2__number {
    font-weight: 600;
    color: white;
    font-size: 24px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-tertiary;
    border-radius: 12px;
    margin-bottom: 25px;
}