mixin footer(props = {})
    +component("div", "footer", props)
        ul.footer__menu
            li.footer__menuItem
                a(href="http://", target="_blank", rel="noopener noreferrer") Home
            li.footer__menuItem
                a(href="http://", target="_blank", rel="noopener noreferrer") About Application
            li.footer__menuItem
                a(href="http://", target="_blank", rel="noopener noreferrer") Support
            li.footer__menuItem
                a(href="http://", target="_blank", rel="noopener noreferrer") Blog
        span.footer__coppyright Copyright © 2020 Wiloke.com. Address: 1002312 State Street, 20th Floor Boston A

