input, textarea {
    border: 0;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"],
select,
textarea {
    background: none;
    box-shadow: none;
    border: 1px solid #eee;
    height: 46px;
    padding: 0 15px;
    color: $color-gray-1;
    font-size: 14px;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"] {
    height: 46px;
    -webkit-appearance: none;
    appearance: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input,
textarea {
	@include placeholder {
		color: $color-gray-1;
	}
}
textarea {
    resize: none;
    padding: 14px 15px;
    height: 160px;
    vertical-align: top;
}
