.slick-dots li {
    width: auto;
    height: auto;
    vertical-align: middle;
}

.slick-dots li button {
    line-height: 20px;
    width: 12px;
    height: 12px;
    background: #E8E8EB;
    border-radius: 100%;
}

.slick-dots li.slick-active button {
    line-height: 20px;
    width: 16px;
    height: 16px;
    background: $color-primary;
    border-radius: 100%;
}

.slick-dots li button:before {
    display: none;
}