extends _core/layout

include components/post/post
include components/headingHighLight/headingHighLight
include components/heading/heading
include components/test/test
include components/navigation/navigation
include components/sectionHero/sectionHero
include components/textBox/textBox
include components/textBox2/textBox2
include components/textBox3/textBox3
include components/postBox/postBox
include components/testimonial/testimonial
include components/sectionWhyChose/sectionWhyChose
include components/sectionDemoImg/sectionDemoImg
include components/sectionTestimonial/sectionTestimonial
include components/sectionFeatures/sectionFeatures
include components/sectionTextBox/sectionTextBox
include components/sectionElement/sectionElement
//- 
include components/sectionSimulation/sectionSimulation
include components/sectionHeroApp/sectionHeroApp
include components/sectionAppSlider/sectionAppSlider
//- 
include components/footer/footer
block content
  //- navigation home --------
  +navigation({home: 'true'})
  //- End navigation home --------

  //- navigation App --------
  //- +navigation({app: 'true'})
  //-End navigation App --------


  //- app ---------- BEGIN
  +sectionHeroApp
  +sectionFeatures({
    heading: {
      before: 'Our provided',
      highlight: 'features',
      after: ' ',
      text: "Not only can you drag and drop to create a page, you also have the following useful features"
    },
    data: [
      {
        title: 'Smart Swipe Screen',
        text: `A useful feature for your audiences, they can easily read a new / previous article with 1 swiper action`,
        icon: 'lar la-arrows-alt-h',
        iconColor: '#FD9B9B'
      },
      {
        title: 'Dark Mode',
        text: `Dark Mode is supported. Once enabled the feature, Your App uses a darker color palette for all screens, views, menus, and controls`,
        icon: 'las la-adjust',
        iconColor: '#5151BD'
      },
      {
        title: 'Following Categories',
        text: `You can follow any ?categories. HSBlog will send you notifications when there are new posts in that categories`,
        icon: 'las la-plus-circle',
        iconColor: '#45CCDB'
      },
      {
        title: 'Comment & Mention',
        text: `Making comment more exciting we have a “mention” feature that lets you tag active people`,
        icon: 'las la-comments',
        iconColor: '#BB9BFD'
      },
      {
        title: 'Notifications',
        text: `You have a screen where you manage notifications when there are new posts or interact with you via comments`,
        icon: 'las la-bell',
        iconColor: '#F1C06B'
      },
      {
        title: 'Offline',
        text: `When you lose your internet connection, you can still access the application to read the articles you once read`,
        icon: 'las la-wifi',
        iconColor: '#48DE57'
      },
    ]
  })
  +sectionSimulation
  div(style="margin: 100px 0")
    +sectionAppSlider
  +sectionTestimonial

  +sectionTextBox({
    titleBefore: 'Let',
    titleHighlight: 'HSBlog',
    titleAfter: 'help you create wonderful stories',
    text: 'Join the HSBlog community to create a great topic. We always listen to you to build the best features.',
    style: 'left', 
    bgColor: '#FEF3F3', 
    cssStyle: 'border-radius: 40px; overflow: hidden; margin: 0 15px; padding: 60px 0 0 0',
    img: '../../assets/images/textBox/3.png',
    button2: 'Purchase naw for 29$',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })

  //- app ---------- END

  div(style="height: 100vh")
  //- section hero
  +sectionHero
  //- section features 1
  div(style="padding: 30px 0; margin-top: 70px")
    +row
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'WP + iOS + Android',
          text: 'Based on ReactJS and React Native, HsBlog not only is a WP theme, but also let you to build your iOS + Android App Native App',
          circleColor: '#FBE9E9'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Single page application',
          text: 'SPA improves your Customer Experience. When navigating from a page to another page, HsBlog WILL NOT REFRESH Browser like other themes.',
          circleColor: '#E7FAF9'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Drag & Drop Page Builder',
          text: 'We have created our own Page Builder for HsBlog. It allows you to build either Web Page or App Home page.',
          circleColor: '#F5ECFD'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Elite Support',
          text: 'help.highspeedblog.com is our Help Center where you can find useful information on Documentation page and You can ask for us anything there.',
          circleColor: '#E7EFFB'
        })
  //- sectionWhyChose
  +sectionWhyChose
  //- sectionDemoImg
  +sectionDemoImg
  //- sectionTestimonial
  +sectionTestimonial
  //- sectionFeatures
  +sectionFeatures({
    heading: {
      before: 'Essential',
      highlight: 'features',
      after: 'for you',
      text: "There are many things that are important to catalog design. Your images must be sharp and appealing."
    },
    data: [
      {
        title: 'Favorite Posts',
        text: `It's a useful feature for your customers: They can SAVE an useful article and easily reach it in future under Favorite Store.`,
        icon: 'lar la-heart',
        iconColor: '#FD9B9B'
      },
      {
        title: 'Recently Viewed',
        text: `Every time visits an article, HSBlog will remember it. Customers can easily reach it next time under Recently Reviewed area.`,
        icon: 'las la-history',
        iconColor: '#B06BF1'
      },
      {
        title: 'Awesome Mega Menu',
        text: `A useful feature helps you can add more information to your menu but still keep it simple and clean`,
        icon: 'las la-archive',
        iconColor: '#45CCDB'
      },
      {
        title: 'Theme Options',
        text: `Here you can customize Header Style, Footer Style, Heading Tags's Font, Social Networks, MailChimp, Youtube and much more ....`,
        icon: 'las la-cog',
        iconColor: '#545CF0'
      },
      {
        title: 'Social Login',
        text: `In addition Default WordPress Login, Customer can easily signin / signup to your site with their Facebook and Apple.`,
        icon: 'las la-thumbs-up',
        iconColor: '#F16BAC'
      },
      {
        title: 'Google reCaptcha V3',
        text: `Protects your site website forms from spam entries while letting real people pass through with ease`,
        icon: 'las la-check-circle',
        iconColor: '#48DE57'
      },
      {
        title: 'Live App Settings',
        text: `It's easy to build your App Home page and App Menu: You just need to use HS Drag & Drop builder system.`,
        icon: 'las la-sliders-h',
        iconColor: 'green'
      },
      {
        title: 'One Click Demo Installation',
        text: `Comes with 210+ pre-build demos, all of them can be imported with 1 Click Demo Installation system.`,
        icon: 'las la-mouse',
        iconColor: 'orange'
      },
      {
        title: 'Gutenberg Block',
        text: `100% compatible with WP Gutenberg block. We also created useful blocks for you: Image Compare, Slider, Code Highlight.`,
        icon: 'las la-shapes',
        iconColor: 'cadetblue'
      },
    ]
  })
  //- sectionTextBox
  +sectionTextBox({
    titleBefore: 'Conver your HSBlog site into true',
    titleHighlight: 'native apps',
    text: 'Buil mobile apps quickly and without writing a single line of code using our intuitive Page Builder',
    style: 'left', 
    bg: '../../assets/images/textBox/bg2.png', 
    img: '../../assets/images/textBox/1.png',
    button1: 'Learn more about app',
    button2: 'Purchase naw for 29$',
    button1Link: 'https://highspeedblog.com/app-landing/',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })
  //- sectionTextBox
  +sectionTextBox({
    titleBefore: 'HSBlog',
    titleHighlight: 'Page Builder',
    text: 'HSBlog has built-in Page Builder which allows you to build your website easily and quickly with more than 60 templates magazine, video list, ads…',
    style:'right', 
    bg: '../../assets/images/textBox/bg3.png', 
    img: '../../assets/images/textBox/2.png',
    button1: 'View Demo',
    button2: 'Purchar now for 29$',
    button1Link: 'https://highspeedblog.com/',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })
  //- sectionElement
  div(style="margin: 70px 0")
    +sectionElement
  //- sectionTextBox

  +sectionTextBox({
    titleBefore: 'Let',
    titleHighlight: 'HSBlog',
    titleAfter: 'help you create wonderful stories',
    text: 'Join the HSBlog community to create a great topic. We always listen to you to build the best features.',
    style: 'left', 
    bgColor: '#FEF3F3', 
    cssStyle: 'border-radius: 40px; overflow: hidden; margin: 0 15px; padding: 60px 0 0 0',
    img: '../../assets/images/textBox/3.png',
    button2: 'Purchase naw for 29$',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })

  //- footer
  +footer