extends _core/layout

include components/post/post
include components/headingHighLight/headingHighLight
include components/heading/heading
include components/test/test
include components/navigation/navigation
include components/sectionHero/sectionHero
include components/textBox/textBox
include components/textBox2/textBox2
include components/textBox3/textBox3
include components/postBox/postBox
include components/testimonial/testimonial
include components/sectionWhyChose/sectionWhyChose
include components/sectionDemoImg/sectionDemoImg
include components/sectionTestimonial/sectionTestimonial
include components/sectionFeatures/sectionFeatures
include components/sectionTextBox/sectionTextBox
include components/sectionElement/sectionElement
include components/footer/footer
block content
  +navigation
  //- section hero
  +sectionHero
  //- section features 1
  div(style="padding: 30px 0; margin-top: 70px")
    +row
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'WP + iOS + Android',
          text: 'Based on ReactJS and React Native, HsBlog not only is a WP theme, but also let you to build your iOS + Android App Native App',
          circleColor: '#FBE9E9'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Single page application',
          text: 'SPA improves your Customer Experience. When navigating from a page to another page, HsBlog WILL NOT REFRESH Browser like other themes.',
          circleColor: '#E7FAF9'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Drag & Drop Page Builder',
          text: 'We have created our own Page Builder for HsBlog. It allows you to build either Web Page or App Home page.',
          circleColor: '#F5ECFD'
        })
      +col({
        cols: [12, 6, 3]
      })
        +textBox({
          title: 'Elite Support',
          text: 'help.highspeedblog.com is our Help Center where you can find useful information on Documentation page and You can ask for us anything there.',
          circleColor: '#E7EFFB'
        })
  //- sectionWhyChose
  +sectionWhyChose
  //- sectionDemoImg
  +sectionDemoImg
  //- sectionTestimonial
  +sectionTestimonial
  //- sectionFeatures
  +sectionFeatures
  //- sectionTextBox
  +sectionTextBox({
    titleBefore: 'Conver your HSBlog site into true',
    titleHighlight: 'native apps',
    text: 'Buil mobile apps quickly and without writing a single line of code using our intuitive Page Builder',
    style: 'left', 
    bg: '../../assets/images/textBox/bg2.png', 
    img: '../../assets/images/textBox/1.png',
    button1: 'Learn more about app',
    button2: 'Purchase naw for 29$',
    button1Link: 'https://highspeedblog.com/app-landing/',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })
  //- sectionTextBox
  +sectionTextBox({
    titleBefore: 'HSBlog',
    titleHighlight: 'Page Builder',
    text: 'HSBlog has built-in Page Builder which allows you to build your website easily and quickly with more than 60 templates magazine, video list, ads…',
    style:'right', 
    bg: '../../assets/images/textBox/bg3.png', 
    img: '../../assets/images/textBox/2.png',
    button1: 'View Demo',
    button2: 'Purchar now for 29$',
    button1Link: 'https://highspeedblog.com/',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })
  //- sectionElement
  div(style="margin: 70px 0")
    +sectionElement
  //- sectionTextBox

  +sectionTextBox({
    titleBefore: 'Let',
    titleHighlight: 'HSBlog',
    titleAfter: 'help you create wonderful stories',
    text: 'Join the HSBlog community to create a great topic. We always listen to you to build the best features.',
    style: 'left', 
    bgColor: '#FEF3F3', 
    cssStyle: 'border-radius: 40px; overflow: hidden; margin: 0 15px; padding: 60px 0 0 0',
    img: '../../assets/images/textBox/3.png',
    button2: 'Purchase naw for 29$',
    button2Link: 'https://themeforest.net/item/hsblog-magazine-blog-wordpress-theme-and-ios-android-blog-app/27113728',
  })

  //- footer
  +footer